<!DOCTYPE html>
<html lang="en">

<head>
    <% include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>


        <div class="page-header">
            <h2 class="job-header">

                all jobs
            </h2>

        </div>
        <div class="main-jobs-cantainer">
            <div class="job-card">
                <div class="job-details">
                    <div class="created-details">
                        <div>
                            <img class="profile" srs="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="profile">
                        </div>
                        <div class="date-posted">
                            <p>Admin</p>
                            <p>06-Aug 2023</p>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
            
        </div>

</html>